#calendar {
	background: white;
	border: 1px;
	border-style: solid;
	border-color: gainsboro;
	button {
		display: inline-block!important;
		background: white;
		border-width: 0px 0px 0 1px;
		border-color: gainsboro;
		border-style: solid;
		box-shadow: none;
		border-radius: 0;
		padding: 26px 10px;
		margin: 0;
	}
	.fc-icon {
		vertical-align: top;
		margin-top: -5px;
	}
	.fc-toolbar {
		text-transform: uppercase;
		color: $black70;
		margin: 0;
	}
	.fc-left h2 {
		font-weight: 400;
		margin: 0;
		padding: 10px 20px;
		font-size: 24px;
	}
	table {
		margin: 0;
		height: 110px; 
	}
	.fc-widget-header {
		background: $black80!important;
		color: white!important;
		font-weight: 300;
		text-align: left;
	}
	.fc-day-header {
		padding: 10px;
	}
	.fc-sun {
		color : $red-maroon;
	}
	.fc-day-number {
		text-align: left;
		font-weight: bold;
		padding: 10px;
	}
	.fc-event {
		border : none;
		border-radius: 10px;
		position: relative;
		&:hover {
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url('../img/pattern.jpg')!important;
				opacity: 0.3;
				bottom: 0;
				border-radius: 10px;
			}
		}
	}
	.fc-green {
		background-color: $light-green!important;
	}
	.fc-pink {
		background-color: $light-pink!important;
	}
	.fc-blue {
		background-color: $light-blue!important;
	}

	.fc-content-skeleton {
		height: 110px!important;
	}
}

.calendar__legend li {
	margin-right: 20px;
	&:after {
		content: ' ';
	}
	@media #{$medium} {
		&:after {
			content: '|';
			margin-left: 20px;
			font-size: 16px;
			color: $black40;
		}
		&:last-child {
			&:after {
			content: ' ';
			}
		}
	}
}

.fc-legend {
	display: inline-block;
	width: 50px;
	height: 12px;
	border-radius: 10px;
	margin-right: 5px;
}

.fc-legend--green {
	background: $light-green;
}

.fc-legend--pink {
	background: $light-pink;
}

.fc-legend--blue {
	background: $light-blue;
}

.calendar__desc__title {
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: 300;
}

.calendar__tooltip {
	width: 250px;
	background: $cream;
	height: 150px;
	box-shadow: 2px 2px 20px 2px $black70;
	position: absolute;
	z-index: 10;
	top: -170px;
	left: 50%;
	margin-left: -130px;
	padding: 0;
	font-size: 12px;
	&:before {
		position: absolute;
		content: '';
		border-color: $cream transparent transparent transparent;
		border-width: 12px;
		border-style: solid;
		top: 100%;
		left: 45%;
	}
}

.calendar__tooltip__head {
	height: 25px;
	border-bottom: 1px solid $black30;
	position: relative;
	padding: 10px;
	&:before {
		margin: 2px;
		content: '';
		border-color: transparent $light-green transparent transparent;
		border-width: 12px;
		border-style: solid;
		position: absolute;
		top: -10px;
		right: -10px;
		transform: rotate(-225deg);
	}
}

.calendar__tooltip__body {
	padding: 10px;
}

.fc-body .fc-row {
	overflow: visible!important;
}

.fc-event-container {
	position: relative;
}