.main__slider {
	z-index: 0;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	
	figure {
		position: relative;
	}

	img {
		width: 100%;
		height: 100%;
		max-height: 200px;
		object-fit: cover;
		@media #{$large} {
			max-height: 680px;
		}
	}
	
	.slick-prev {
		position: absolute;
		z-index: 1;
		top: 35%;
	}
	
	.slick-next {
		position: absolute;
		z-index: 1;
		right: 0;
		top: 35%;
	}
	
	.slick-arrow {
		background: $black;
		border: 5px solid $yellow;
		outline: 5px solid $black;
		opacity: 0.7;
		border-radius: 100%;
	}
	
	.slick-dots {
		position: absolute;
		z-index: 1;
		left: calc(50% - 70px);
		bottom: 15%;
		
		@media #{$large} {
			bottom: 5%;
		}
		
		li {
			display: inline-block;
			list-style: none;
		}
		
		button {
			background: transparent;
			border: 2px solid white;
			border-radius: 100%; 
			padding: 5px;
			margin: 3px;
		}
	}

	.slick-active button {
		background: $yellow;
	}

	.main__slider__cap {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.7);
		bottom: 10%;
		right: 0;
		z-index: 1;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 20px;
		width: 150px;
		height: 100px;
		text-align: right;
		padding: 10px;

		@media #{$medium} {
			width: 250px;
			height: 120px;
			font-size: 16px;
			line-height: 32px;
		}

		@media #{$large} {
			width: 400px;
			height: 200px;
			font-size: 24px;
			line-height: 48px;
		}
	}
}

.main__slider__nav {
	position: absolute;
	z-index: 5;
	top: 35%;
	width: 100%;
	
	.slick-arrow {
		width: 30px;
		color: $yellow;
		background: rgba(0, 0, 0, 0.4);
		border-radius: 100%;
		border: 2px solid $yellow;
		margin: 0 20px;
		font-size: 25px;
		z-index: 2;
		&:focus {
			outline: 0;
		}
	}
	
	.prev {
		position: absolute;
		left: 0;
		top: 0;
	}

	.next {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
	
	@media #{$medium} {
		top: 45%;
	}
}

.post__slider {
	position: relative;
	margin-bottom: 20px;
}

.belajar__slider__nav {
	position: absolute;
	z-index: 5;
	top: 45%;
	width: 100%;
	
	.slick-arrow {
		width: 30px;
		opacity: 0.6;
		color: $yellow;
		background: $black;
		border-radius: 100%;
		border: 2px solid $yellow;
		margin: 0 20px;
		font-size: 25px;
		z-index: 2;
	}
	
	.prev {
		position: absolute;
		left: 0;
		top: 0;
	}

	.next {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
}