/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
    background: whitesmoke;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.main-content {
    background: whitesmoke;
    margin-top: 50px;
    @media #{$large} {
        margin-top: 0;
    }
}

// .main-content article {
//     background: whitesmoke;
//     padding-top: 15px;
//     width: 100%;
// }

.main__program {
    padding: 10px 0 10px 0;
    border-bottom: 5px solid $yellow;
    margin-bottom: 20px;
    p {
        margin-left: 10px;
    }
}

.main__program .bzg_c {
    padding-bottom: 40px;
    font-size: 14px;
    @media #{$medium} {
        padding-bottom: 10px;
    }
}
.main__program__icon {
    float: left;
    margin: 15px 10px 40px 0;
    width: 70px;
    height: 70px;
    padding: 15px;
    @media #{$medium} {
        margin: 10px 30px 80px 0;
        width: 120px;
        height: 120px;
    }
    @media #{$large} {
        margin: 10px 30px 40px 0;
    }
}

.post {
    margin-bottom: 40px;
}

.post__title, .gallery__title, .post__heading {
    color: $black70;
    font-weight: 300;
    position: relative;
    top: 10px;
}

.post__heading {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid $yellow;
}

.post__subheading {
    margin-bottom: 0px;
    @media #{$medium} {
        margin-bottom: 10px;
    }
}

.post__bc {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted $black;
}

.post__tabs {
    width: 100%;
    position: relative;
    padding: 0;
    margin-top: 20px;
    z-index: 1;
    &:after {
        display: none;
    }
    @media #{$medium} {
        &:after {
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            content: '';
            height: 10px;
            background: url('../img/divider.jpg');
            left: 0;
            z-index: -1;
            margin-top: -10px;
        }
    }
}

.post__tabs li {
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    img, a {
        opacity: 0.6;
    }
    &:after {
        position: absolute;
        top: 100%;
        content: '';
        width: 100%;
        height: 10px;
        border-right: 10px solid whitesmoke;
        background: url('../img/divider.jpg');
    }
    @media #{$medium} {
        margin-bottom: 10px;
    }
}

.post__tabs .post__tabs__active {
    opacity: 1;
    &:before {
        position: absolute;
        top: 50px;
        left: 15px;
        display: block;
        content: '';
        border-color: transparent transparent whitesmoke transparent;
        border-style: solid;
        border-width: 10px;
        z-index: 3;
    }
    &:after {
        background: $yellow;
        border-bottom: 1px solid $brown;
        position: absolute;
        z-index: 2;
    }
}

.post__tabs li img {
    height: 50px;
}

.post__tabs li a {
    display: inline;
    color: $black70;
    font-weight: bold;
}

.post__icon {
    border: solid 5px $black80;
    border-radius: 100%;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 20px;
}

.post__content__title {
    border-bottom: 1px solid $black30;
}

.post__content__map {
    width: 100%;
    text-align: center;
    float: left;
    background: white;
    padding: 10px 10px 5px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    @media #{$medium} {
        width: auto;
    }
}

.post__summary {
    padding-right: 0;
    margin-bottom: 40px;
    @media #{$medium} {
        padding-right: 30px;
        margin-bottom: 10px;
    }
}

.post__summary__header {
    position: relative;
    font-size: 11px;
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content:'';
        height: 10px;
        width: 100%;
        background: url('../img/divider.jpg');
    }
    @media #{$medium} {
        font-size: 14px;
    }
    a {
        color: $black;
    }
    a:hover {
        color: $link_hover;
    }
    span {
        margin-left: 5px;
    }
}

.post__summary__content {
    margin-top: 10px;
}

.post__summary__title, .post__summary__date {
    margin: 0;
    text-align: center;
    @media #{$medium} {
        text-align: left;
    }
}

.post__thumb {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 20px 0;
        @media #{$medium} {
            float: left;
        }
        @media #{$large} {
            margin-bottom: 10px;
        }
}

.gallery {
    margin-top: 0px;
    margin-bottom: 50px;
}

.gallery__header {
    margin-top: 25px;
}

.gallery__title {
    color: $black70;
    font-weight: 300;
    margin-bottom: 20px;
}

.gallery__content {
    padding: 0;
    margin-left: 0;
    margin-bottom: 50px;
}

.gallery__pagination {
    border-top: 5px solid $yellow;
}

.alumni-form {
    select {
        float: none;
        background: $pink;
        margin-right: 20px;
        margin-top: 20px;
    }
    legend {
        display: block;
        text-align: center;

    }
    .alumni-form__filter {
        display: block;
        text-align: center;
    }
    @media #{$large} {
        select {
            float: right;
            margin-top: 0px;
        }
        legend {
            float: left;
            width: 39%;
        }
        .alumni-form__filter {
            display: inline-block;
            width: 60%;
            float: right;
        }
    }
}

.pendampingan-list li {
    &:before {
        font-weight: bold;
        content: '>';
        margin-right: 10px;
        display: inline-block;
    }
}

.class-list {
    margin-left: 0px;
    @media #{$medium} {
        margin-left: 10px;
    }
}

.class-list li {
    position: relative;
    padding-left: 30px;
    &:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background:url('../img/check.jpg');
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: 40px;
    }
}

.program-list li {
    padding-right: 40px;
    text-align: center;
}

.program-list li a {
    display: block;
    margin-top: 15px;
    color: $black80;
    font-weight: 600;

    &:hover {
        color: $link;
    }
}

.privat__title {
    text-align: center;
    color: white;
    font-size: 20px;
    background: url('../img/banner.png');
    background-size: cover;
    width: 200px;
    height: 50px;
    position: relative;
    top: 30px;
    margin-left: -20px;
    padding-top: 8px;
}

.privat__desc {
    background: white;
    border: 4px solid $yellow;
    border-radius: 100px;
    padding: 25px 15px;
    text-align: center;
    font-size: 13px;
}

.privat__list {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

.privat__list > li {
    width: 160px;
    height: 160px;
    display: inline-block;
    margin: 0 60px 30px 0;
}

.daftar__ganjil {
    padding-bottom: 40px;
    transform: rotateY(180deg);
    position: relative;
    .daftar__number, .daftar__title, .daftar__desc, img {
        transform: rotateY(180deg);
    }
    .daftar__number {
        float: right;
        right: 0;
        margin: 30px 20px 0 20px;
        @media #{$medium} {
            margin: 20px 20px 100px 20px;
        }
    }
    .daftar__title {
        margin-right: 80px;
    }
    .daftar__desc {
        margin-right: 0;
        @media #{$large} {
            margin-right: 80px;
        }
    }
}

.daftar__genap {
    padding-top: 40px;

    .daftar__number {
        float: left;
        right: 0;
        margin: 30px 20px 0 20px;
        @media #{$medium} {
            margin: 20px 20px 100px 20px;
        }
    }
}

.daftar__number {
    float:left;
    font-size: 36px;
    color: $yellow;
    margin-top: 35px;
    margin-right: 20px;
    @media #{$medium} {
        margin-top: 10px;
    }
}

.daftar__title {
    margin: 20px 0 0 0;
    @media #{$medium} {
        margin: 0px;
    }
}

.register {
    margin: 0 auto;
    max-width: 500px;
    background: white;
    border: 1px solid $black30;
    border-radius: 2%;
}

.register input, select {
    background: $pink;
    height: 40px;
    border: 1px solid $black40;
    border-radius: 3px;
    padding: 0 10px;
}

.register label {
    font-weight: bold;
}

.register button {
    padding: 10px 10px;
    margin: 3px;
    width: 60px;
    border-radius: 3px;
    @media #{$medium} {
        width: auto;
        padding: 10px 19px;
        margin: 0px;
    }
}

.register__input {
    padding: 10px;
    @media #{$medium} {
        padding: 30px;
    }
}

.register__title {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;
}

.biaya {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    &:after {
        position: absolute;
        content: '';
        height: 10px;
        width: 100%;
        background: url('../img/divider.jpg');
        margin-bottom: -20px;
        bottom: 0;
        left: 0;
    }
}

.biaya .biaya__list {
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

.biaya__list li {
    &:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background:url('../img/check.jpg');
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: 40px;
    }
}

.biaya__title {
    padding: 10px 70px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.biaya__total {
    text-align: center;
    font-weight: bold;
    color: $black50;
    border-width: 1px 0 1px 0;
    border-color: $black50;
    border-style: solid;
    padding: 5px 0;
    margin: 20px 0;
}

.biaya__button {
    text-align: center;
    padding: 10px 50px;
    margin-top: -5px;
    position: relative;
    z-index: 10;
}

.bimbingan {
    text-align: center;
    @media #{$medium} {
        text-align: left;
    }
    legend {
        font-weight: bold;
        margin: 0;
    }
}

.bimbingan__opt {
    display: inline-block;
    margin: 15px 0;
    input[type=checkbox] + label {
        background: $black30;
        padding: 12px 15px;
        color: $black80;
        border-radius: 3px;
        font-weight: 300;
        border: 1px solid $black50;
    } 
    input[type=checkbox]:checked + label {
        background: $green;
        padding: 12px 15px;
        color: white;
        border-radius: 3px;
        font-weight: 300;
        span {
            border-bottom: 2px solid white;
        }
    } 
}

.kontak-form {
    background: white;
    position: relative;
    margin: 0 0 40px 0;
    @media #{$large} {
        margin: 0 20px 20px 0;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        background: url('../img/form-header.png');
        background-repeat: repeat-x;
    }
}

.kontak-form__inputs {
    padding: 20px 30px;
}

.news {
    width: 100%;
    border-bottom: 1px solid $black30;
    padding: 0 0 20px 0;
    @media #{$medium} {
        padding: 0 0 30px 0;
    }
}

.news__detail {
    margin-top: 20px;
}

.news__share {
    padding-left: 20px;
    li {
        padding-right: 30px;
    }
}

.terkait {
    margin-top: 20px;
}

.news__thumbs {
    padding: 0 10px 0 0;
    @media #{$medium} {
        padding: 10px;
    }
}

.news__header {
    padding: 0px;
    color: $black80;
    position: relative;
    left: 0px;
    h2 {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
    a {
        color: $black80;
    }
    a:hover {
        color: $link_hover;
    }
    @media #{$medium} {
        padding: 15px;
        left: 10px;
    }
}

.news__content {
    font-size: 16px;
    position: relative;
    left: 0px;
    @media #{$medium} {
        left: 10px;
    }

    .news__header {
        padding: 0;
        left: 0;
        margin-bottom: 10px;
    }
}

.news__image {
    margin-bottom: 10px;
}

.news__pagination {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    border-top: 5px solid $yellow;
}

.sidebar {
    margin-top: 20px;
}

.sidebar__header {
    position: relative;
    margin-bottom: 20px;
    font-size: 12px;
    &:after {
        position: absolute;
        top: 100%;
        content: '';
        width: 100%;
        height: 10px;
        background: url('../img/divider.jpg');
    }
    h3 {
        margin: 0;
        font-size: 16px;
    }
    @media #{$medium} {
        h3 {
            font-size: 12px;
        }
    }

    @media #{$large} {
        h3 {
            font-size: 16px;
        }
    }
}

.sidebar__header__link {
    a {
        color: $black80;
        text-transform: uppercase;
    }
    a:hover {
        color: $link_hover;
    }
    span {
        margin-left: 2px;
    }
}

.sidebar__list {
    li { 
        border-bottom: 1px dotted $black80;
        padding: 5px 0;
    }
    a {
        color: $black;
        display: block;
        font-weight: bold;
    }
    a:hover {
        color: $link_hover;
    }
}

.sitemap {
    margin-left: 20px;
}

.sitemap__icon {
    margin-top: 20px;
}

.sitemap li {
    list-style:none;
    color: $black70;
}

.sitemap li a {
    color: $black70;
    &:hover {
        color: $link_hover;
    }
}

.sitemap__category {
    padding-left: 0;
    padding-bottom: 0;

    @media #{$medium} {
        padding-left: 75px;
        padding-bottom: 30px;
    }
    &:before {
        content:'';
        position: absolute;
        margin-left: -75px;
        width: 75px;
        border-top: 1px solid $black50;
    }

    &:first-child {
        position: relative;
        left:-120px;
        a {
            position: relative;
            left: 5px;
            margin-top: 5px;
        }
        &:before {
            display: none;
        }
        &:after {
            content:'';
            position: absolute;
            margin-top: -30px;
            left: 135px;
            width: 80px;
            border-top: 1px solid $black50;
        }
    }

    &:nth-child(2) {
        border-left: 1px solid $black50;
        margin-top: -85px;
        margin-left: 80px;
    }

    &:nth-child(3) {
        margin-left: 80px;
    }
}

.sitemap__category__title {
    position: relative;
    top: -12px;
    background: white;
    border-left: 5px solid $yellow;
    padding: 10px 20px;
    margin-top: -20px;
}

.sitemap__category__menu > li {
    &:before {
        content:'';
        position: absolute;
        width: 20px;
        height: 20px;
        background: url('../img/arrow.png') white;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 2px 0 0 -30px;
        border: 1px solid $black30;
    }
}

.sitemap__category__submenu li {
    &:before {
        content:'';
        position: absolute;
        width: 10px;
        height: 40px;
        background: url('../img/arrow.png');
        background-repeat: no-repeat;
        margin: 5px 0 0 -20px;
    }
}

.gallery__select {
    background: white;
    padding: 10px;
    border: 1px solid $black30;
    text-align: right;
}

.nav__footer {
    display: none;
    @media #{$large}{
        display: block;
    }
}

.copyright {
    display: block;
    padding: 12px 0 0 12px;
    font-size: 12px;
    font-weight: bold;
    color: $black70;
}

.profile {
    max-width: 500px;
}

.footer {
    background: gainsboro;
    width: 100%;
    height: 420px;
    float: right;
    border-top:2px solid $black40;
    color: $black80;
    font-size: 14px;
    text-align: center;
    @media #{$large} {
        text-align: left;
        height: auto;
    }
}

.footer__fb {
    padding: 40px 0 20px 0;
    display: none;
    @media #{$large} {
        display: block;
    }
}

.footer__fb__title {
    padding: 3px;
    margin-bottom: 5px;
    background: whitesmoke;
    font-size: 12px;
    font-weight: bold;
}

.footer__sitemap {
    padding: 0;
    position: absolute;
    margin-top: 220px;
    width: 100%;
    left: 0;
    margin-left: -20px;
    @media #{$large} {
    margin-top: 0px;
    padding: 40px 0 20px 0;
    position: relative;
    }
}

.footer__sitemap li {
    list-style: none;
    padding-bottom: 10px;
}

.footer__sitemap a {
    color: $black80;
    &:hover {
        color: $link;
    }
}

.footer__logo {
    padding: 40px 0 20px 0;
}

.footer__logo img {
    margin-bottom: 10px;
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //